

services:
  # 1. Configuration Server
  config-server:
    build:
      context: .
      dockerfile: docker/back-end/Dockerfile.config
    container_name: config-server
    ports:
      - "8888:8888"
    networks:
      - invest-net

  # 2. Service Discovery (Eureka)
  eureka-server:
    build:
      context: .
      dockerfile: docker/back-end/Dockerfile.eureka
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
    depends_on:
      - config-server
    networks:
      - invest-net

  # 3. API Gateway
  api-gateway:
    build:
      context: .
      dockerfile: docker/back-end/Dockerfile.gateway
    container_name: api-gateway
    ports:
      - "8080:8888" # Adjust if your Gateway runs on 8080 or 9090
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
    networks:
      - invest-net

  # 4. Market Service
  market-service:
    build:
      context: .
      dockerfile: docker/back-end/Dockerfile.market
    container_name: market-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
    networks:
      - invest-net

  # 5. Portfolio Service
  portfolio-service:
    build:
      context: .
      dockerfile: docker/back-end/Dockerfile.portfolio
    container_name: portfolio-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
    networks:
      - invest-net

  # 6. Frontend (React)
  frontend:
    build:
      context: .
      dockerfile: docker/front-end/Dockerfile.react
    container_name: front-end
    ports:
      - "3000:80"
    depends_on:
      - api-gateway
    networks:
      - invest-net

networks:
  invest-net:
    driver: bridge




