name: Backend CI

on:
  push:
    paths:
      - 'backend/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build all microservices
        run: mvn -f backend/pom.xml clean install -DskipTests

      - name: Run Tests
        run: mvn -f backend/pom.xml test
