name: Frontend CI

on:
  push:
    paths:
      - 'frontend/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd front-end/
          npm install

      - name: Build Frontend
        run: |
          cd front-end/
          npm run build
